.body {
  color: var(--body-text-color);
  font-family: 'Roboto', 'Raleway', sans-serif;
  background: var(--main-color);
}

.heading {
  background-color: var(--secondry-bacground-color);
  color: var(--heading-color);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.36;
}
.button {
  cursor: pointer;
  background-color: var(--blue-color);
  color: var(--button-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  border-radius: 5px 5px;
  border-style: 5px var(--black-color);
}

.button-portfolio {
  cursor: pointer;
  background-color: var(--team-section-color);
  color: var(--body-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.88;
  border-radius: 5px 5px;
  border-style: 5px var(--black-color);
}
.button-portfolio:hover {
  background-color: var(--blue-color);
  color: var(--button-text-color);
}
.logo {
  color: var(--blue-color);
}
.header-logo {
  color: var(--black-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 1.19;
}
.navigation {
  color: var(--navigation-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  line-height: 1.14;
}
.navigation:hover {
  color: var(--blue-color);
}

.nav-phone {
  color: #757575;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  list-style-type: square;
}
.nav-phone:hover {
  color: var(--blue-color);
}
.nav-mail {
  color: #757575;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  list-style: none;
}
.nav-mail:hover {
  color: var(--blue-color);
}
.inline {
  list-style: none;
}

.text {
  color: var(--gray-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-style: normal;
  line-height: 1.7;
}
.job-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.team-section {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  background-color: var(--team-section-color);
  line-height: 1.17;
}
.person {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
  line-height: 1.19;
}
.position {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--gray-text-color);
  line-height: 1.19;
}
.footer {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.footer {
  background-color: var(--secondry-bacground-color);
}
.footer-logo {
  color: var(--main-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  line-height: 1.19;
}
.footer-address {
  color: var(--main-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 1.7;
  list-style: none;
  font-style: normal;
}
.footer-address:hover {
  color: #2196f3;
}

.footer-mail {
  color: var(--footer-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 1.7;
  font-style: normal;
}
.footer-mail:hover {
  color: var(--blue-color);
}

.footer-phone {
  color: var(--footer-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 1.7;
  font-style: normal;
}
.footer-phone:hover {
  color: #2196f3;
}

:root {
  --main-color: #ffffff;
  --blue-color: #2196f3;
  --black-color: #000000;
  --gray-text-color: #757575;
  --secondry-bacground-color: #2f303a;
  --body-text-color: #212121;
  --team-section-color: #f5f4fa;
  --stroke-color: #ececec;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --heading-color: #ffffff;
  --button-text-color: #ffffff;
  --navigation-color: #212121;
}
